*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
}

.navbar{
    display: flex;
    justify-content: center;
    position:sticky;
    background-color: rgba(0,0,0,0.5);

}

.navbar ul{

    display: flex;
    list-style: none;
    margin: 20px 0px;

}

.navbar ul li{

    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{

   text-decoration: none;
   color: wheat;
   padding: 8px 25px;
   transition: all .5s ease;
}

.navbar ul li a:hover{
   background-color: white;
   color: black;
   box-shadow: 0 0 10px wheat;
 }


 /* home section */

#home{
    display: flex;
    flex-direction: column;
    height: 890px;
    justify-content: center ;
    align-items: center;
    color: #000;

}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('image2.jpg') no-repeat center center/cover;
    height: 890px;
    width: 100%;
    z-index: -1;
    opacity: 1;

    
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 40%;
    right:10%;
}

.headings{
    font-family: century;
    font-size: 4rem;
    text-align: center;
    margin: 40px 0px;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border:1px solid whitesmoke;
    color: white;
    outline: none;
    transition: 0.6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px wheat,0 0 15px wheat,0 0 25px wheat;
    font-weight: bold;
}

/* About */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    height: 700px;
    
    
}
#pic{
    display: flex;
}

#pic img{
    width: 490px;
    height: 500px;
    border-radius: 20%;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 
Contact me */

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    height: 790px;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding:12px;
    margin: 15px;
    width: 30%;
    border: none;
}
#msg{
    width: 30%;
    height: 40%;
    padding:10px;
    margin: 15px;
    border:none;
    outline:none;
}

#send{
    width: 20%;
    padding:10px;
    margin: 40px;
    border:none;
    outline:none;
}



#send:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px wheat,0 0 15px wheat,0 0 25px wheat;
    font-weight: bold;
}

/* Gallerr */
img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
     
}

.gal{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}

.gal img{
    width: 100%;
    cursor: pointer;
}

.gal img:hover{
    transform: scale(0.8) rotate(-5deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);

}


.full-img{


    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

}

.full-img img{
    width: 95%;
    max-width: 600px;

}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    cursor: pointer;
    font-size: 30px;

}

